<div class="tour">
  <% fields_for "tournament[#{item_prefix(tour)}_tour_data][]", tour do |t| %>
    <p>
      <%= tour.errors.map { |e, m| "#{e}: #{m}" }.join("<br>") %>
      <%= t.text_field "tournament_place", :size => 2, :maxlength => 3 %>
      <%= t.select "player_id", players_for_select %>
      <%= button_to_function "delete", "$(this).up('.tour').remove()" %>
    </p>
  <% end %>
</div>