<div class="tournament_participation">
  <% fields_for "tournament[#{item_prefix(tournament_participation)}_tournament_participations_data][]", tournament_participation do |t| %>
    <p>
      <%= tournament_participation.errors.map { |e, m| "#{e}: #{m}" }.join("<br>") %>
      <%= t.text_field "place", :size => 2, :maxlength => 3 %>
      <%= t.select "player_id", players_for_select %>
      <%= button_to_function "delete", "$(this).up('.tournament_participation').remove()" %>
    </p>
  <% end %>
</div>