<% content_for :title, "Edit tournament" %>

<h1>Edit tournament</h1>
<% form_for @tournament do |f| %>
  <%= render :partial => "tournaments/form", :locals => { :f => f } %>
  <p>
    <%= f.submit("Update") %>
  </p>
<% end %>